// @import "node_modules/bootstrap/scss/bootstrap";
$theme-colors: (
  "primary": #d8ae46,
  "secondary": #54575c,
  "info": #7961a8,
  "light": #e9ecef
);

.sidebar-heading {
    margin-bottom: 0;
}

@import "~bootstrap/scss/bootstrap";


.card.bg-lighter {
    // border-bottom-color: $ptmLight !important; 
    // border-top-color:$ptmLight !important;
    border: none;
    background-color: $ptmLight !important;
}
.btn { 
    font-size: 0.75rem;
    &.disabled:focus {
        box-shadow: none;     
    }
    &-outline-light {
      color:$ptmDark //#212529;
    }
}
.btn-primary { 
    color: #fff;
    font-size: 1.125rem;
    box-shadow: 0 -5px 0 $ptmYellow;
    border-radius: 3px 0 0 0;
}
.btn-ptmLight {
    background-color:$ptmLightGrey;  
    
    &:active,
    &.active {
        background-color: $ptmLight;
        box-shadow: none;
        color: $ptmDark;
        -webkit-text-stroke-color: $ptmDark;
    }
    &.collapse {
        background-color:initial;
    }
}

.btn-light:not(:disabled):not(.disabled):active, 
.btn-light:not(:disabled):not(.disabled).active, 
.show > .btn-light.dropdown-toggle {
    border-color:#f8f9fa !important;
    background-color:#f8f9fa !important;
}

.geocoder {

    .form-control {

        font-size:0.875rem;

        &:focus {
            outline: 0 !important;
            border-color: initial;
            box-shadow: none;
        }
    }
    
    .fa-search {
        color:$ptmDark;  
        font-size: initial;
        -webkit-text-fill-color: $ptmDark;
        -webkit-text-stroke-width: 0;
    }
}

.optionsTab.nav-pills {
    .nav-link {
        border-radius: 0;
    }    
}

$font-family-base: 'Open Sans';


@include media-breakpoint-up(lg) { 
    .btn-primary {
        color:white;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        box-shadow: none;
    }
}


#celestial-map {
    display: flex;
    justify-content: center;
}
// #celestial-map canvas {
//     min-width: 447px !important;
//     max-width: 447px !important;
//     width: 447px !important;
// }