// @import "node_modules/bootstrap/scss/bootstrap";
$theme-colors: (
  "primary": #d8ae46,
  "secondary": #54575c,
  "info": #7961a8,
  "light": #e9ecef
);

.sidebar-heading {
    margin-bottom: 0;
}

@import "~bootstrap/scss/bootstrap";


.card.bg-lighter {
    // border-bottom-color: $ptmLight !important; 
    // border-top-color:$ptmLight !important;
    border: none;
    background-color: $ptmLight !important;
}
#accordion {
    border-top:$ptmLightGrey 1px solid;
}

.btn { 
    font-size: 0.75rem;
  }
.btn-primary { 
    color: #fff;
    font-size: 1.125rem;
    box-shadow: 0 -5px 0 $ptmYellow;
    border-radius: 3px 0 0 0 ;
}
.btn-ptmLight {
    background-color:$ptmLightGrey;  

    
    &:active, 
    &:focus,
    &.active {
        background-color: $ptmLight;
        box-shadow: none;
        color: $ptmDark;
        -webkit-text-stroke-color: $ptmDark;
    }
    &.collapse {
        background-color:initial;
    }
}

.btn-light:not(:disabled):not(.disabled):active, 
.btn-light:not(:disabled):not(.disabled).active, 
.show > .btn-light.dropdown-toggle {
    border-color:#f8f9fa !important;
    background-color:#f8f9fa !important;
}

.optionsTab.nav-pills {
    .nav-link {
        border-radius: 0;
    }    
}

$font-family-base: 'Open Sans';
