// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400');
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// @import 'settings/md-icons';
@import 'settings/colors';
@import "settings/fonts";
@import 'settings/ptm';
@import '~leaflet/dist/leaflet.css';
// Includes all of Bootstrap
// @import "~bootstrap/scss/bootstrap";

// Overrides Bootstrap styling
@import "custom";

@import "~@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css";

@import 'components/sidebar.scss';
@import 'components/accordion.scss';
@import 'components/debug.scss';

@import 'trumps/ie.scss';

body {
    background: $ptmMediumLight;
    font-family: $font-family-base;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


.btn-block + .btn-block {
  margin-top:0;
}
// .btn-light {   
//     color: white;
//     background-color: $ptmLightGrey;
// }


.posterArea {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s ease;
}

.poster {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translateX(-50%) translateY(-50%);
  // transform-origin: top left;
  
  width:588px;    // 5  (aspect ratio)
  height:820px;   // 7

  .card-body {    

    padding:10px 60px;

    .card-title {
      font-family: 'Open Sans Condensed';
      font-size: 26px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 1.35rem;
    }
    .card-text {
      font-size: 12px;
      font-weight: 300;
      line-height: 15px;
      margin-bottom:0;
      &:last-child {
        font-size: 10px;
      }
    }    
  }
}


.mapwindow {
  width:466px;
  height:466px;
  margin:85px auto;
  overflow: hidden;
}
#mapbox 
{ 
    height: 466px;
    width: 466px;
    //transform:scale(0.1);
    //height:calc(466px * 2); //466,4746
    //width: calc(466px * 2);  //466,4746
    //transform: scale(0.5) translate(-50%,-50%);
/* 
    .mapboxgl-canvas {
      top:-25%;
      left:-25%;
    }
*/
    -webkit-border-radius: 233px;
    -moz-border-radius: 233px;
    border-radius: 233px;
    border: 2px solid;
    background-color:rgba(0,0,0,0);
    z-index: 0;
}

@include media-breakpoint-down(md){
  // .navbar { 
  //   position: fixed;
  //   width: 100%;
  //   top:0;
  // }
  .posterArea {    
    resize: both;
    position: relative;
    height: calc(100vh - 200px); //76vh;
  }
  .poster {

    // width:400px;    // 5  (aspect ratio)
    // height:558px;   // 7    
    // transform: translateX(-50%) translateY(-70%);
    
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    
    // transform: translate(-50%, -60%) scale(0.7);
    // transform-origin: 50% 50% 0px;
  }
  .mapwindow {
   // margin: 55px auto;
  }
  .mapwindow, #mapbox {
    // width: 317px;
    // height: 317px;
  }
}

#canvasImage {
  zoom:0.1;
}


/*
.card.poster:before, .card.poster:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.card.poster:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
*/

//.geocoder {}
.mapboxgl-ctrl-geocoder { min-width:100%; }
.marker {
    // background-image: url('http://www.placethemoment.com/dev/editor/images/ptm-marker.svg');
    // background-size: contain;
    // background-repeat: no-repeat;
    width: 22px; //28
    height: 27px; //34
    cursor: pointer;
    filter: drop-shadow( 0px 1px 1px rgba(0,0,0,0.5) );    

    .granite {
      fill: $ptmGranite;      
    }
    .mint {
      fill: $ptmGreen;
    }
    .yellow {
      fill: $ptmYellow;
    }
    .snow {
      fill: white;
    }
/*
    position: absolute;
    left: 10%;
    top: 10%;
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    -ms-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration:   .7s;
    -moz-animation-duration:      .7s;
    -o-animation-duration:        .7s;
    -ms-animation-duration:       .7s;
    animation-duration:           .7s;
    z-index: 4;
*/
}

.poster, .ptm-map-color-btn {
  &.snow {    
      color: black;
      background-color:white;
      .marker {
        // filter: none;
          // background-image: url('https://www.placethemoment.com/dev/editor/images/ptm-marker-mint.svg');
      }
  }
  &.moon {
      color: #54575c;
      background-color:white;
      .mapboxgl-map, .ptm-map-color-icon {
          background-color: #54575c;
      }
      .marker {
        // filter: none;
          // background-image: url('https://www.placethemoment.com/dev/editor/images/ptm-marker-snow.svg');
      }
  }
  &.granite {
      color: white;
      background-color: #54575c;
      .marker {
        // filter: none;
          // background-image: url('https://www.placethemoment.com/dev/editor/images/ptm-marker-yellow.svg');
      }
  }
  &.mint {
      color: white;
      background-color: #6fa189;
      .marker {
          // filter: none;
          // background-image: url('https://www.placethemoment.com/dev/editor/images/ptm-marker-granite.svg');
      }
  }
}

.ptm-thanks {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    small {
      color: $ptmGrey;
      font-size: 0.7rem;
      text-shadow: 1px 1px white;
    }
}

@keyframes bounce {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px)  ;
    -moz-transform: translateY(-2000px)  ;
    -o-transform: translateY(-2000px)  ;
    -ms-transform: translateY(-2000px)  ;
    transform: translateY(-2000px)  ;
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px)  ;
    -moz-transform: translateY(30px)  ;
    -o-transform: translateY(30px)  ;
    -ms-transform: translateY(30px)  ;
    transform: translateY(30px)  ;
  }
  80% {
    -webkit-transform: translateY(-10px)  ;
    -moz-transform: translateY(-10px)  ;
    -o-transform: translateY(-10px)  ;
    -ms-transform: translateY(-10px)  ;
    transform: translateY(-10px)  ;
  }
  100% {
    -webkit-transform: translateY(0)  ;
    -moz-transform: translateY(0)  ;
    -o-transform: translateY(0)  ;
    -ms-transform: translateY(0)  ;
    transform: translateY(0)  ;
  }
}
@-moz-keyframes bounce {
    0% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -webkit-transform: translateY(-2000px);
      -moz-transform: translateY(-2000px) ;
      -o-transform: translateY(-2000px);
      -ms-transform: translateY(-2000px) ;
      transform: translateY(-2000px) ;
    }
    60% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
      -webkit-transform: translateY(30px)  ;
      -moz-transform: translateY(30px)  ;
      -o-transform: translateY(30px)  ;
      -ms-transform: translateY(30px)  ;
      transform: translateY(30px)  ;
    }
    80% {
      -webkit-transform: translateY(-10px)  ;
      -moz-transform: translateY(-10px)  ;
      -o-transform: translateY(-10px)  ;
      -ms-transform: translateY(-10px)  ;
      transform: translateY(-10px)  ;
    }
    100% {
      -webkit-transform: translateY(0)  ;
      -moz-transform: translateY(0)  ;
      -o-transform: translateY(0)  ;
      -ms-transform: translateY(0)  ;
      transform: translateY(0)  ;
    }
}
@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px)  ;
    -moz-transform: translateY(-2000px)  ;
    -o-transform: translateY(-2000px)  ;
    -ms-transform: translateY(-2000px)  ;
    transform: translateY(-2000px)  ;
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px)  ;
    -moz-transform: translateY(30px)  ;
    -o-transform: translateY(30px)  ;
    -ms-transform: translateY(30px)  ;
    transform: translateY(30px)  ;
  }
  80% {
    -webkit-transform: translateY(-10px)  ;
    -moz-transform: translateY(-10px)  ;
    -o-transform: translateY(-10px)  ;
    -ms-transform: translateY(-10px)  ;
    transform: translateY(-10px)  ;
  }
  100% {
    -webkit-transform: translateY(0)  ;
    -moz-transform: translateY(0)  ;
    -o-transform: translateY(0)  ;
    -ms-transform: translateY(0)  ;
    transform: translateY(0)  ;
  }
}
@-o-keyframes bounce {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px)  ;
    -moz-transform: translateY(-2000px)  ;
    -o-transform: translateY(-2000px)  ;
    -ms-transform: translateY(-2000px)  ;
    transform: translateY(-2000px)  ;
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px)  ;
    -moz-transform: translateY(30px)  ;
    -o-transform: translateY(30px)  ;
    -ms-transform: translateY(30px)  ;
    transform: translateY(30px)  ;
  }
  80% {
    -webkit-transform: translateY(-10px)  ;
    -moz-transform: translateY(-10px)  ;
    -o-transform: translateY(-10px)  ;
    -ms-transform: translateY(-10px)  ;
    transform: translateY(-10px)  ;
  }
  100% {
    -webkit-transform: translateY(0)  ;
    -moz-transform: translateY(0)  ;
    -o-transform: translateY(0)  ;
    -ms-transform: translateY(0)  ;
    transform: translateY(0)  ;
  }
}