// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400');
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// @import 'settings/md-icons';
@import 'settings/colors';
@import "settings/fonts";
@import 'settings/ptm';
@import '~leaflet/dist/leaflet.css';
@import '~d3-celestial/celestial.css';
// Includes all of Bootstrap
// @import "~bootstrap/scss/bootstrap";

// Overrides Bootstrap styling
@import "custom";

@import "~@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css";

@import 'components/sidebar.scss';
@import 'components/accordion.scss';
@import 'components/debug.scss';
@import 'components/progress.scss';
@import 'components/toggle.scss';

@import 'trumps/ie.scss';
@import 'trumps/fb.scss';

body {
    background: $ptmMediumLight;
    font-family: $font-family-base;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


.btn-block:focus,
.btn-block.focus,
.btn.ptm-btn:not(.ptm-format-btn):focus,
.btn.ptm-btn:not(.ptm-format-btn).focus {
 box-shadow: none;
}

.btn-block + .btn-block {
  margin-top:0;
}
// .btn-light {   
//     color: white;
//     background-color: $ptmLightGrey;
// }

#logo {
  max-width: 15rem;
}

.posterArea {
  height: calc(100vh - 70px);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  transform-origin: center top;
  transition: transform 1s ease;
}

.poster.water,
.poster.woods,
.poster.safari {

  .card-body {
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-auto-flow: column;
    column-gap: 8px;
    align-items: center;
    margin: 170px 0 50px;

    .card-title {
      font-family: "sirenia", sans-serif;
      font-weight: 400;
      font-style: normal;
      grid-row: span 2 / span 2;
      margin-bottom: 0;
    }
    .card-text {
      font-family: "sirenia", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      align-self: end;
      overflow: hidden;

      &:last-child {
        font-size:13px;
        align-self: start;
      }
    }
  }
  .mapwindow {
    width:426px;
    height:417px;
    margin:50px 83px;
  }
  &.xsmall {
    .card-body {
      margin: 180px 0 40px;
      padding: 10px 30px;
    }
    .mapwindow {
      width: 406px;
      height: 406px;
      margin: 36px auto;
    }
  }
  &.small {
    .card-body {
      margin: 180px 0 40px;
      padding: 10px 50px;
    }
    .mapwindow {
      width: 404px;
      height: 404px;
      margin: 23px auto;
    }
  }
}

.poster.water {
  .card-body {
    .card-title {
      color: #0a2e67;;
    }
    .card-text {
      color: #0a2e67;;
    }
  }
}

.poster.safari,
.poster.woods {
  .card-body {
    .card-title {
      color: #543b23;
    }
    .card-text {
      color: #543b23;
    }
  }
}

.poster.safari {
  .mapwindow {
    width:400px;
    height:400px;
    margin:50px 93px;
    clip-path: polygon(35% 0, 67% 0, 86% 12%, 98% 33%, 100% 58%, 91% 82%, 75% 98%, 57% 100%, 27% 100%, 18% 94%, 17% 85%, 20% 77%, 4% 77%, 1% 59%, 1% 37%, 11% 16%);
  }
}

.poster.water {
  .mapwindow {
    clip-path: polygon(34% 1%, 67% 0, 86% 13%, 99% 35%, 98% 69%, 87% 87%, 71% 95%, 62% 91%, 57% 100%, 35% 97%, 33% 84%, 21% 76%, 9% 76%, 1% 64%, 0 36%, 11% 15%);
  }
}

.poster.woods {
  .mapwindow {
    clip-path: polygon(34% 1%, 67% 0, 88% 10%, 97% 34%, 100% 59%, 91% 87%, 81% 92%, 66% 89%, 36% 89%, 28% 95%, 17% 93%, 21% 81%, 7% 80%, 2% 64%, 3% 37%, 12% 16%);
  }
}




.poster {
  position: absolute;
  top:50%;
  left:50%;
  width:588px;    // 5  (aspect ratio)
  height:820px;   // 7
  opacity:0;
  
  animation-name: blendIn;
  animation-delay: 1s;
  animation-duration: 300ms;
  animation-fill-mode: forwards;

  transform: translateX(-50%) translateY(-50%);
  transform-origin: center center;
  transition:all 300ms ease;
  box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.4);
  
  .card-body {    
    
    padding:10px 60px;
    
    .card-title {
      font-family: 'Open Sans Condensed';
      font-size: 26px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 1.35rem;
    }
    .card-text {
      font-family: 'Open Sans Condensed';
      font-size: 12px;
      font-weight: 300;
      line-height: 15px;
      margin-bottom:0;
      &:last-child {
        font-size: 10px;
      }
    }   
  }
    
  .mapwindow {
    width:466px;
    height:466px;
    margin:85px auto;
    // overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center center;
    transition: all 300ms ease-in-out;    
    
    .preloader {
      display: none;
      height: 466px;
      width: 466px;
      position: absolute;
      background-color: rgba(108, 117, 125, 0.5);
      z-index: 1;
      border-radius: 233px;
      
      &.active {
        display: inline;
      }
    }    
    #mapbox 
    { 
      width: 466px;
      height: 466px;
      -webkit-border-radius: 233px;
      -moz-border-radius: 233px;
      border-radius: 233px;
      border: 2px solid;
      background-color:rgba(0,0,0,0);
      z-index: 0;
      transform-origin: center center;
      transition: all 300ms ease-in-out;
    }
  }
  
  &.large {  
    width:588px;    // 5  (aspect ratio)
    height:820px;   // 7
  }
  &.small {
    width:570px;    // 4  (aspect ratio)
    height:760px;   // 3

    .mapwindow {
      width:446px;
      height:446px;
      margin:65px auto;
    }
    #mapbox {
      width: 446px;
      height: 446px;
    }

  }
  &.xsmall {
    width:550px;    // 7  (aspect ratio)
    height:786px;   // 10

    .mapwindow {
      width:446px;
      height:446px;
      margin:65px auto;
    }
    #mapbox {
      width: 446px;
      height: 446px;
    }

  }

  &.snow {
    background-color:white;
    .mapwindow #mapbox {
      border-color:black;
    }
    h3, p {
      color:black !important;
    }
  }
  &.moon {
    background-color:white;
    .mapwindow #mapbox {
      border-color:#54575c;
    }
    h3, p {
      color: #54575c !important;
    }
  }
  &.granite {
    background-color: #54575c !important;  
    .mapwindow #mapbox {
      border-color:white;
    }
    h3, p {
      color:white !important;
    }
  }
  &.mint {
    background-color: #6fa189 !important;
    .mapwindow #mapbox {
      border-color:white;
    }
    h3, p {
      color:white !important;
    }
  }
  &.honey {
    background-color: $ptmYellow !important;
    .mapwindow #mapbox {
      border-color:black;
    }
    h3, p {
      color:black !important;
    }
  }
  &.hay {
    background-color: $ptmKabana !important;
    .mapwindow #mapbox {
      border-color:black;
    }
    h3, p {
      color:black !important;
    }
  }
  &.olive {
    background-color: $ptmKabana !important;
    .mapwindow #mapbox {
      border-color:white;
    }
    h3, p {
      color:$ptmOlive !important;
    }
  }
  &.dustyrose {
    background-color: $ptmKabana !important;
    .mapwindow #mapbox {
      border-color:white;
    }
    h3, p {
      color:$ptmDustyRose !important;
    }
  }
  &.water {
    background-image: url('https://www.placethemoment.com/build/images/water.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }
  &.safari {
    background-image: url('https://www.placethemoment.com/build/images/safari.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }
  &.woods {
    background-image: url('https://www.placethemoment.com/build/images/woods.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }
  &.redwood {
    background-color: $ptmKabana !important;
    .mapwindow #mapbox {
      border-color:white;
    }
    h3, p {
      color:$ptmRedwood !important;
    }
  }
}
  

#canvasImage {
  zoom:0.1;
}

.mapboxgl-ctrl-geocoder { min-width:100%; }
.marker {
    width: 22px; //28
    height: 27px; //34
    cursor: pointer;
    filter: drop-shadow( 0px 1px 1px rgba(0,0,0,0.5) );    

    .granite {
      fill: $ptmGranite;      
    }
    .mint {
      fill: $ptmGreen;
    }
    .honey {
      fill: $ptmYellow;
    }
    .snow {
      fill: white;
    }
    .black {
      fill: black;
    }
}

.ptm-map-color-btn {
  &.snow {    
      background-color:white !important;
    .ptm-map-color-icon {
      border-color:black;
    }
  }
  &.moon {
      background-color:white;
      .ptm-map-color-icon {
        border-color:#54575c;
        background-color: #54575c !important;
      }
  }
  &.granite {
    background-color: #54575c !important;  
    .ptm-map-color-icon {
      border-color:white;
    }
  }
  &.mint {
    background-color: #6fa189 !important;
    .ptm-map-color-icon {
      border-color:white;
    }
  }
  &.honey {
    background-color: $ptmYellow !important;
    .ptm-map-color-icon {
      border-color:black;
    }
  }
  &.hay {
    background-color: $ptmKabana !important;
    .ptm-map-color-icon {
      border-color:black;
        background-color: $ptmHay !important;
    }
  }
  &.olive {
    background-color: $ptmKabana !important;
    .ptm-map-color-icon {
      border-color:white;
        background-color: $ptmOlive !important;
    }
  }
  &.dustyrose {
    background-color: $ptmKabana !important;
    .ptm-map-color-icon {
      border-color:white;
        background-color: $ptmDustyRose !important;
    }
  }
  &.redwood {
    background-color: $ptmKabana !important;
    .ptm-map-color-icon {
      border-color:white;
        background-color: $ptmRedwood !important;
    }
  }
  &.water > div {
    display:flex;
    justify-content: center;
  }
  &.safari > div {
    display:flex;
    justify-content: center;
  }
  &.woods > div {
    display:flex;
    justify-content: center;
  }
}

.ptm-thanks {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    small {
      color: $ptmGrey;
      font-size: 0.7rem;
      text-shadow: 1px 1px white;
    }
}

.leaflet-control-zoom {
  position: absolute;
  margin:0 !important;
  left:1px;
  border:1px solid $ptmLightGrey;
  box-shadow: none;
  
  transition: transform 300ms ease-in;
  transform-style: preserve-3d;
  transform-origin: left center;
  transform: rotateY(90deg);

  animation-name: flipRight;
  animation-delay: 2s;
  animation-duration: 300ms;
  animation-fill-mode: forwards;

  &.leaflet-bar a {
    color:$ptmDark;
    box-shadow: inset 4px 0px 4px -4px rgba(0,0,0,0.35);
    &:first-child{
      border-top-left-radius: 0;
    }
    &:last-child {
      border-bottom-left-radius: 0;
    }
  }
}
.leaflet-control-zoom.back {
  animation-name: flipLeft;
}
.leaflet-control-container .leaflet-top.leaflet-left {
  display: none;
}

@include media-breakpoint-down(md){
  .posterArea {    
    resize: both;
    position: relative;
    height: calc(100vh - 200px); //76vh;
  }
  .poster {    
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
  }
  .leaflet-control-zoom {
    top:-54px;
    position: relative;
    transform-origin: center bottom;
    transform: rotateX(90deg);
    animation-name: flipUp;

    &.leaflet-bar a {
      display: inline-block;
      font-size: 2rem;
      width: 52px;
      height: 52px;
      line-height: 52px;
      border: 1px solid $ptmLightGrey;
      box-shadow: none;
    }
  }
  .leaflet-control-zoom.back {
    animation-direction: reverse
}
}
@media screen and ( max-height: 699px ) {
  .leaflet-control-zoom {
    top:0;
    transform-origin: center top;
  }
}

@keyframes blendIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flipUp {
  from { 
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
@keyframes flipRight {
  from { 
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes flipDown {
  from { 
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(90deg);
  }
}
@keyframes flipLeft {
  from { 
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(90deg);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

.animated {  
  animation-duration: 1s;
  animation-fill-mode: both;
}
