/* 
    props to Shahen Algoo 
    https://codepen.io/bootpen/pen/WQQLQZ
*/

.linear-activity {
    overflow: hidden;
    width: 100%;
    height: 4px;
    margin: 0;
    opacity: 0;
    background-color: #D1C9E1;
    transition: opacity 200ms;

    &.active {
        opacity: 0.7;
    }
}
.indeterminate:before {
    content: '';
    position: absolute;
    height: 4px;
    background-color: #674B9C;
    animation: indeterminate_first 1.5s infinite ease-out;
    
}

.indeterminate:after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: #674B9C;
    animation: indeterminate_second 1.5s infinite ease-in;
}

@keyframes indeterminate_first {
    0% {
        left: -100%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

@keyframes indeterminate_second {
    0% {
        left: -150%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

.circular-activity {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    padding: 0.25em;
    width: 3em;
    height: 3em;
    color: #583A93;
    background-color: transparent;
    font-size: 16px;
    overflow: hidden;
}

.generate {
    z-index: 1;
    min-height: 100vh;    
}
.smooth-transition {
    transition: opacity .5s ease-out;
}

.circular-activity::-webkit-progress-bar {
    background-color: transparent;
}

/* Indeterminate */
.circular-activity:indeterminate {
    -webkit-mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    animation: circular-activity 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}

:-ms-lang(x), .circular-activity:indeterminate {
    animation: none;
}

.circular-activity:indeterminate::before,
.circular-activity:indeterminate::-webkit-progress-value {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-bottom: 0.25em;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100% !important;
    height: 100%;
    background-color: transparent;
    animation: circular-activity-pseudo 0.75s infinite linear alternate;
}

.circular-activity:indeterminate::-moz-progress-bar {
    box-sizing: border-box;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: circular-activity-pseudo 0.75s infinite linear alternate;
}

.circular-activity:indeterminate::-ms-fill {
    animation-name: -ms-ring;
}

@keyframes circular-activity {
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(180deg);
        animation-timing-function: linear;
    }
    25% {
        transform: rotate(630deg);
    }
    37.5% {
        transform: rotate(810deg);
        animation-timing-function: linear;
    }
    50% {
        transform: rotate(1260deg);
    }
    62.5% {
        transform: rotate(1440deg);
        animation-timing-function: linear;
    }
    75% {
        transform: rotate(1890deg);
    }
    87.5% {
        transform: rotate(2070deg);
        animation-timing-function: linear;
    }
    100% {
        transform: rotate(2520deg);
    }
}

@keyframes circular-activity-pseudo {
    0% {
        transform: rotate(-30deg);
    }
    29.4% {
        border-left-color: transparent;
    }
    29.41% {
        border-left-color: currentColor;
    }
    64.7% {
        border-bottom-color: transparent;
    }
    64.71% {
        border-bottom-color: currentColor;
    }
    100% {
        border-left-color: currentColor;
        border-bottom-color: currentColor;
        transform: rotate(225deg);
    }
}