/*
    * Sidebar
*/



.sidebar {
    position: fixed;
    top: auto;
    bottom: 0;
    right: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    .nav-link {
        font-weight: 500;
        color: #333;

        .feather {
        margin-right: 4px;
        color: #999;
        }

        &.active {
        color: #007bff;
        }

        &:hover .feather,
        &.active .feather {
        color: inherit;
        }
    }

    .card-header {
        background-color: white;
        
        .btn {
            font-size: 1rem;
            text-transform: uppercase;
            color: black;
            font-weight: 700;

            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }

    .card-body {

        > span {
            font-size: 0.65rem;
            line-height: 1rem;
            color: $ptmGrey;
            display: block;
        }
    }

    #collapseThree .card-body {
        padding: 0.65rem;
    }

    .ptm-poster-styles {      

        .ptm-btn {
            background: none;

            &.active {
                .ptm-map-color-btn, .marker {
                    box-shadow: 0 0 3px 3px #d8ae46
                }
                span {
                    color:$ptmDark;
                }
            }

            .marker {
                margin: 0 auto;
                margin-bottom: 0.5rem;
                width: 30px;
                border: 3px solid transparent;
                border-radius: 2px;
            }

            span {
                color: $ptmGrey;
                pointer-events: none;
            }
        }
    }
    .ptm-map-color {

        &-btn {
            padding: 0.5rem;
            margin-bottom: 0.5rem;
            border-radius: 2px;
            pointer-events: none;
        }
        
        &-icon {
            max-width:48px;
            overflow: hidden;
            margin: 0 auto;
            border-radius: 50%;
            border:1px solid;
            background-color:transparent;
            pointer-events: none;

            img {                
            max-width: 100%;
            height:auto;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .sidebar {
        .navbar {
            padding:0 1rem;
        }
    }
    .ptm-map-color {

        &-btn {
            border-radius: 0;

            span {
                font-size:0.7rem;
            }
        }
    }
}

@include media-breakpoint-up(lg) { 
.sidebar {
    top:0;
}
    
.sidebar-sticky {    
    position: sticky;
    top: 48px; /* Height of navbar */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color:white;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    
        .navbar {
            position: absolute;
            bottom: 10px;
        }
    
        div:has(img) {
            background-color:darkgrey;
        }
    }
 }