.fb_dialog {
  right:288pt !important;
  z-index:90 !important;
  transition: transform 1s ease;
}
.fb_customer_chat_bounce_in_v2, 
.fb_customer_chat_bounce_out_v2 {
  right:279pt !important;
  z-index:90 !important;
}

@include media-breakpoint-down(md){
  .fb_dialog {
    right:10pt !important;
    position:relative !important;
    bottom:8rem !important;
    float:right;
  }
}