/*
    PTM Styles
*/

$ptmYellow: #d8ae46; 
$ptmGreen:  #6fa189;
$ptmGrey:   #54575c;

$ptmLight:   #e2e2e2;
$ptmDark:    #343a40;

.bg-yellow  { background-color: $ptmYellow; }
.bg-green   { background-color: $ptmGreen;  }
.bg-grey    { background-color: $ptmGrey;   }


