/*
    PTM Styles
*/

$ptmYellow: #d8ae46; 
$ptmGreen:  #6fa189;
$ptmGrey:   #99968E;

$ptmLightGrey:#dadad8;

$ptmLight:   #FAFAF9;
$ptmMediumLight: #F3F3F0;
$ptmDark:    #3D3C37;

.bg-yellow  { background-color: $ptmYellow; }
.bg-green   { background-color: $ptmGreen;  }
.bg-grey    { background-color: $ptmGrey;   }


